:root {
  --bg-color: #0f172a;
  --card-color: #1e293b;
  --accent-color: #38bdf8;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --speed: 10s;
}
body {
  background-color: var(--bg-color);
  height: 100vh;
}
