:root {
  --bg-color: #0f172a;
  --card-color: #1e293b;
  --accent-color: #38bdf8;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
}
body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--accent-color); */
}
.logo-brand {
  color: var(--text-main);
  font-family: "Yellowtail";
  display: flex;
  align-items: center;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link a {
  color: var(--text-main);
}
