:root {
  --bg-color: #0f172a;
  --card-color: #1e293b;
  --accent-color: #38bdf8;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
}
body {
  margin: 0;
  padding: 0;
}
/* Navigasi bar */
.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(15, 23, 42, 0.8);
  padding: 10px;
}
.logo-brand {
  font-family: "Yellowtail";
  flex: 1;
  margin-left: 10px;
}
.logo-brand h1 {
  font-size: 1.5rem;
  color: var(--text-main);
}
nav {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
  margin-right: 10px;
}
nav a {
  color: var(--text-muted);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  transition: 0.3s;
}
nav a:hover {
  color: var(--accent-color);
}
.navbar nav .link:nth-child(4) {
  background-color: var(--card-color);
  padding: 10px;
}
.toggle-menu {
  display: none;
}
.toggle-menu i {
  color: var(--text-main);
  font-size: xx-large;
  color: var(--text-main);
}

/* Section hero */
.hero {
  /* background-color: var(--bg-color); */
  background-color: #818cf8;
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero .hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px var(--accent-color);
}
.hero .hero-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.hero .hero-description h1 {
  color: var(--text-muted);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero .hero-description p {
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  margin-right: 20px;
  font-size: smaller;
}
.hero .hero-button {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: small;
  margin-right: 20px;
}
.hero .hero-button a {
  text-decoration: none;
  color: white;
  background: linear-gradient(135deg, var(--accent-color), #818cf8);
  padding: 8px 10px;
  width: 200px;
  text-align: center;
  border-radius: 40px;
}

@media screen and (max-width: 736px) {
  /* navigasi bar */
  .navbar {
    display: grid;
    grid-template-areas:
      "brand toggle"
      "link link";
    grid-template-columns: 1fr 0.1fr;
  }
  .navbar .logo-brand {
    grid-area: brand;
    margin-left: 10px;
  }
  .navbar .toggle-menu {
    grid-area: toggle;
    display: flex;
    color: red;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    width: max-content;
  }
  .navbar nav .link {
    border-bottom: var(--text-muted) 1px solid;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .navbar nav .link:nth-child(4) {
    background-color: transparent;
    padding: 0;
  }
  .navbar nav {
    grid-area: link;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    transition:
      max-height 0.4s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  .navbar .hidden {
    max-height: 0;
    opacity: 0;
  }

  /* section hero */
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero .hero-image {
    align-items: end;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .hero .hero-description {
    justify-content: start;
  }
  .hero .hero-description h1 {
    margin: 10px 15px;
  }
  .hero .hero-description p {
    margin-right: 0;
    margin: 10px 15px;
  }
  .hero .hero-button {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }
}
